MONGO_URI=mongodb://localhost/dalarnia
MONGO_DB_NAME=dalarnia
REDIS_URI=redis://localhost
ETHERSCAN_API_KEY=
ETHERSCAN_BASE_URL=https://api.bscscan.com/api
WEB3_PROVIDER_URL=https://bsc-dataseed3.ninicoin.io